<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.user.dao.UserDao">
    <!--新增用户-->
    <insert id="addUser" parameterType="com.xzsd.app.user.entity.UserInfo">
        insert into t_sys_user
            (user_id,
             user_account,
             user_password,
             photo,
             name,
             sex,
             phone,
             email,
             idcard,
             role,
             is_deleted,
             create_by,
             gmt_create,
             last_modified_by,
             gmt_modified,
             version)
        values
            (#{userId},
            #{userAccount},
            #{userPassword},
            #{photo},
            #{name},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{role},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0)
    </insert>
    <!--获取用户信息-->
    <select id="findUserById" parameterType="java.lang.String" resultType="com.xzsd.app.user.entity.UserInfo">
        select
            user_account userAccount,
            name,
            sex,
            phone,
            email,
            idcard idCard,
            user_password userPassword,
            role
        from
            t_sys_user
        where
            is_deleted = 0
            and user_id = #{userId}
    </select>
    <!--修改密码-->
    <update id="updateUserPasswordById" parameterType="com.xzsd.app.user.entity.UserInfo">
        update
            t_sys_user
        set
            user_password = #{newPassword},
            gmt_modified = now(),
            last_modified_by = #{lastModifiedBy},
            version = version + 1
        where
            user_id = #{userId}
    </update>
    <!--统计用户账号数量-->
    <select id="countUserAccountOrPhone" parameterType="com.xzsd.app.user.entity.UserInfo" resultType="int">
        select
            count(*)
        from
            t_sys_user
        where
            is_deleted = 0
        <if test="userId != null and userId != ''">
            and user_id != #{userId}
        </if>
            and (user_account = #{userAccount} or phone = #{phone})
    </select>
</mapper>